@import "tailwindcss";

* {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}


.serein-logo {
    font-family: "Alice", serif;
    font-weight: 400;
    font-style: normal;
    color: #CDAA84;
}